[Desktop Entry]
Encoding=UTF-8
Name=BSG
Comment=BSG P2P Cryptocurrency
Comment[fr]=BSG, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BSG, eşten eşe kriptografik sanal para birimi
Exec=blowsbig-qt %u
Terminal=false
Type=Application
Icon=blowsbig128
MimeType=x-scheme-handler/blowsbig;
Categories=Office;Finance;
